<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.HTML" version="21.8.0" targetFramework="net45" />
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net45" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net45" />
  <package id="Html2Xhtml" version="1.1.2.4" targetFramework="net45" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.13.2" targetFramework="net45" />
  <package id="itextsharp.xmlworker" version="5.5.13.2" targetFramework="net45" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net45" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.Xml.SgmlReader" version="1.8.24" targetFramework="net45" />
  <package id="NETStandard.Library" version="1.6.1" targetFramework="net45" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net45" />
  <package id="RestSharpSigned" version="105.2.3" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="92.0.4515.10700" targetFramework="net45" />
  <package id="SmartBear.TestLeft" version="4.91.341.11" targetFramework="net45" />
  <package id="System.Collections" version="4.3.0" targetFramework="net45" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net45" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net45" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net45" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net45" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net45" />
  <package id="System.IO" version="4.3.0" targetFramework="net45" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net45" />
  <package id="System.Linq" version="4.3.0" targetFramework="net45" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net45" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="net45" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="net45" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net45" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net45" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net45" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net45" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net45" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net45" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net45" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net45" />
  <package id="System.Threading" version="4.3.0" targetFramework="net45" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net45" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net45" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net45" />
</packages>